
.logo {
  background-color: blue;
  margin: 10px 0 0 50px;
  width: 10rem;
  height: 10rem;
}
@media (max-width: 420px) {
    #titulo-principal {
      font-size: 80%;
    }
    #col-redes {
      display: flex;
      flex-direction: row;
    }
    .icons-social {
      padding: 5px;
        width: 20px;
    }
    .conte-infer {
      height: 100%;
    }
}
@media (min-width: 421px) {
    #col-redes {
    height: 500px;
  }
}
.icons-social {
  width: 90%;
}
.card-content {
  height: 100%;
}
.img-izq {
    height: 50%;
}
.img-central {
  margin-top: 8%;
  width: 90%;
  height: 90%;
}
.cont-img-der {
  height: 33%;
}
.cont-img-der > img {
  height: 100%;
}
p {
  margin-left: 5px;
  padding: 10px;
}
#col-redes > a > img {
  margin-top: 5px;
    width: 100%;
}
#col-img + img {
height: 100%;
}
.conte-infer {
  height: 1000px;
}
#col-entradas, #col-autor {
  height: 100%;
}
.img-autor {
  width: 100px;
  margin: 2px;
  padding: 2px;
}
footer {
  height: 100%;
}
