.logo {
  background-color: blue;
  margin: 10px 0 0 50px;
  width: 10rem;
  height: 10rem;
}
@media (max-width: 420px) {
    #titulo-principal {
      font-size: 80%;
    }
}
.card-content {
  height: 100%;
}
.img-central {
  margin-top: 8%;
  width: 90%;
  height: 90%;
}
.cont-img-der {
  height: 33%;
}
.cont-img-der > img {
  height: 100%;
}
p {
  margin-left: 5px;
  padding: 10px;
}
#col-redes {
  height: 500px;
}
#col-img + img {
height: 100%;
}
#col-entradas, #col-autor {
  height: 1000px;
}
.img-autor {
  width: 100px;
  margin: 2px;
  padding: 2px;
}
